/* about */

.about {
    width: 100%;
    max-width: 1925px;
    margin: 0 auto;
  
    .about__inner {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 103px 0 147px;
  
      .about__item {
        display: block;
        margin-right: 30px;
  
        &:last-child {
          margin-right: 0px;
        }
  
        h4 {
          color: #000000;
          font-family: 'Roboto';
          font-size: 19px;
          font-weight: 400;
          line-height: 20px;
          text-transform: uppercase;
          padding-bottom: 11px;
        }
  
        .blue-line {
          width: 50px;
          height: 4px;
          background-color: #0075d0;
          margin-bottom: 24px;
        }
  
        p {
          color: #696969;
          font-family: 'Roboto';
          font-size: 15px;
          font-weight: 400;
          line-height: 20px;
          text-align: justify;
        }
      }
    }
  
    .virtues {
      width: 100%;
      max-width: 1925px;
      min-height: 260px;
      background: url(../img/features-bg.png) no-repeat center;
      background-size: cover;
  
      .virtues__inner {
        width: 55%;
        max-width: 1048px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px 0;
        text-align: center;
  
        .virtues__item {
          display: block;
          color: #ffffff;
          font-family: 'Roboto';
          font-weight: 700;
          line-height: 20px;
  
          p {
            font-size: 50px;
            padding: 32px 0 26px;
          }
  
          span {
            font-size: 19px;
          }
        }
      }
    }
  }

  @media only screen and (min-width : 768px) and (max-width : 1024px){

    .about {
      min-width : 768px;
      max-width : 1024px;
    
      .about__inner {
        padding: 50px 0 75px;
        margin: 0 5%;
    
        .about__item {
          margin-right: 20px;
    
          &:last-child {
            margin-right: 0px;
          }
    
          h4 {
            font-size: 12px;
            padding-bottom: 5px;
          }
    
          .blue-line {
            height: 2px;
            margin-bottom: 12px;
          }
    
          p {
            font-size: 10px;
          }
        }
      }
    
      .virtues {
        min-width : 768px;
        max-width : 1024px;
        min-height: 200px;
        background: url(../img/features-bg.png) no-repeat center;
        background-size: cover;
    
        .virtues__inner {
          width: 90%;
          padding: 30px 0;
    
          .virtues__item {
    
            p {
              font-size: 32px;
              padding: 15px 0 12px;
            }
    
            span {
              font-size: 12px;
            }
          }
        }
      }
    }

  } 