/* feature */

.feature {
    width: 100%;
    max-width: 1925px;
    margin: 0 auto;
  
    .feature__second {
      background-color: #f8f8f8;
  
      .feature__grid {
        padding: 97px 0 150px;
        width: 61%;
        max-width: 1170px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
  
        .features__img {
          width: 100%;
          max-width: 292px;
          height: 201px;
        }
  
        .feature__descr {
          background-color: #ffff;
          padding: 19px 25px 0px 20px;
          font-family: 'Roboto';
          font-weight: 400;
          text-align: justify;
          word-wrap: break-word;
  
          h4 {
            color: #000000;
            font-size: 19px;
            padding-bottom: 17px;
          }
  
          p {
            color: #6e6e6e;
            font-size: 15px;
            padding-bottom: 30px;
          }
  
          button {
            display: block;
            cursor: pointer;
            border: none;
            background: transparent;
          }
        }
      }
    }
  }