/* testimonials */

.testimonials {
  width: 100%;
  max-width: 1925px;
  margin: 0 auto;

  .testimonials__slider {
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;

    input[name="switch"] {
      display: none;
    }

    .switch {
      position: absolute;
      left: 0;
      bottom: -40px;
      text-align: center;
      width: 100%;

      label {
        display: inline-block;
        width: 10px;
        height: 10px;
        cursor: pointer;
        margin: 0 10px;
        border-radius: 50%;
        background-color: #959595;
      }
    }
  }
}

#btn1:checked ~ .switch label[for="btn1"], #btn2:checked ~ .switch label[for="btn2"], #btn3:checked ~ .switch label[for="btn3"] {
  background-color: #2b2b2b;
}

.testimonials .testimonials__inner {
  width: 1170px;
  overflow: hidden;
  margin: 0 auto;

  .testimonials__slides {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 97px  0 60px;

    .testimonials__item {
      width: 100%;
      max-width: 368px;
      display: flex;
      align-items: start;

      img {
        border: 5px solid #b9b9b9;
        border-radius: 50%;
        margin-right: 20px;
        font-family: 'Roboto';
        font-size: 15px;
        line-height: 20px;
      }

      h4 {
        color: #0075d0;
        font-weight: 700;
        padding-bottom: 8px;
      }

      span {
        color: #141414;
        font-weight: 400;
        padding-bottom: 8px;
      }

      p {
        color: #ffff;
        background-color: #0075d0;
        font-weight: 400;
        padding: 15px 27px 11px 14px;
      }
    }
  }
}

#btn1:checked ~ .testimonials__inner .testimonials__slides {
  transform: translate(0);
}

#btn2:checked ~ .testimonials__inner .testimonials__slides {
  transform: translate(-66%);
}

#btn3:checked ~ .testimonials__inner .testimonials__slides {
  transform: translate(66%);
}

@media only screen and (min-width : 768px) and (max-width : 1024px){

  .testimonials {
    min-width : 768px;
    max-width : 1024px;
  
    .testimonials__slider {
      position: relative;
      width: 90%;
      margin: 0 auto;
  
      .switch {
        bottom: -40px;
      }
    }
  } 
  
  .testimonials .testimonials__inner {
    max-width: 370px;
    overflow: hidden;
    margin: 0 auto;
  
    .testimonials__slides {
      max-width: 370px;
      flex-direction: column;
      padding: 50px 0;
  
      .testimonials__item {
        width: 100%;
        max-width: 368px;
        display: flex;
        align-items: start;
        padding-bottom: 30px;
      }
    }
  }
  
  #btn1:checked ~ .testimonials__inner .testimonials__slides {
    transform: translate(0);
  }
  
  #btn2:checked ~ .testimonials__inner .testimonials__slides {
    transform: translate(-100%);
  }
  
  #btn3:checked ~ .testimonials__inner .testimonials__slides {
    transform: translate(100%);
  }

}