.container{
    width: 61%;
    margin: 0 auto;
}
.title{
    color: #000000;
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 700;
    line-height: 9px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 150px;
}
.article{
    color: #000000;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding-top: 27px;
}


@import "header";
@import "services";
@import "portfolio";
@import "testimonials";
@import "about";
@import "team";
@import "feature";
@import "feedback";
@import "footer";

// @media only screen and (min-width : 320px) and (max-width : 480px)

// @media only screen and (min-width : 768px) and (max-width : 1024px)



