.container{
    width: 61%;
    margin: 0 auto;
}
.title-black{
    color: #000000;
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 700;
    line-height: 9px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 150px;
}
.article-black{
    color: #000000;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding-top: 27px;
}
.title-white{
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 700;
    line-height: 9px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 150px;
}
.article-white{
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding-top: 27px;
}


/* header */

.header{
    width: 100%;
    max-width: 1925px;
    min-height: 1120px;
    margin: 0 auto;
    background: url(../img/header-bg.png) no-repeat center;
    background-size: cover;
    color: #000;
    font-family: 'Roboto';
    font-weight: 400;
    text-transform: uppercase;
}
.header .header__top{
    width: 100%;
    max-width: 1925px;
    background-color: #fff;
    opacity: 0.8;
}
.header .header__top .header__container{
    width: 61%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header .header__top .header__container .header__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header__top .header__container .header__logo img{
    margin-right: 10px;
}
.header .header__top .header__container .header__logo p{
    font-size: 26px;
    line-height: 24.83px;
}
.header .header__top .header__container .header__menu{
    font-size: 14px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.header .header__top .header__container .header__menu a{
    text-decoration: none;
    color: #000;
    margin-left: 40px;
}
.header .header__mine{
    text-align: center;
    color: #fff;
    font-family: "Open Sans";
    text-transform: uppercase;
}
.header .header__mine h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    padding-top: 411px;
}
.header .header__mine h2{
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 30px;
}
.header .header__mine button{
    width: 150px;
    min-height: 50px;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 60px;
    border-radius: 20px;
    border: 2px solid #fff;
    background: transparent;
    box-sizing: content-box;
    padding: 0;
}
.header .header__mine button a{
    text-decoration: none;
    color: #fff; 
}

/* services */

.services{
    width: 100%;
    max-width: 1925px;
    margin: 0 auto;
}
.services .services__inner{
    padding: 98px 0 149px;
    display: flex;
    justify-content: space-between;
}
.services .services__inner .services__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services .services__inner .services__item .services__image{
    width: 122px;
    height: 122px;
    border: 1px solid #dfdfdf;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 4px 0px 0px #bebebe;    
}
.services .services__inner .services__item .services__image img{
    filter: saturate(0);
    position: relative;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%,-50%);
}
.services .services__inner .services__item p{
    color: #000;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    padding-top: 37px;
}
.services .services__inner .services__item:hover p{
    color: #0075d0;
}
.services .services__inner .services__item:hover .services__image{
    background-color: #0075d0;
}

/* portfolio */

.portfolio{
    width: 100%;
    max-width: 1925px;
    margin: 0 auto;
}
.portfolio .portfolio__top{    
    width: 100%;
    max-width: 1925px;
    min-height: 281px;
    background: url(../img/potfolio-bg.png) no-repeat center;
    background-size: cover;
}
.portfolio .portfolio__navigation{
    padding: 60px 0;
    display: block;
    text-align: center;
}
.portfolio .portfolio__navigation .portfolio__link{
    color: #000000;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 40px;
    border-bottom: 4px solid transparent;
}
.portfolio .portfolio__navigation .portfolio__link:hover{
    padding-bottom: 6px;
    border-bottom: 4px solid #0075d0;
}
.portfolio .portfolio__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    
}
.portfolio .portfolio__grid .portfolio__item{
    position: relative;
}
.portfolio .portfolio__grid .portfolio__item img{
    width: 100%;
    max-width: 481px;
    min-height: 530px;
    object-fit: cover;
}
.portfolio .portfolio__grid .portfolio__item .shadow{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.84;
}
.portfolio .portfolio__grid .portfolio__item .plus{
    display: none;
    border: none;
    width: 74px;
    height: 74px;
    background-color: #0075d0;
    position: absolute;
    top: 0%;
    right: 0%;
    cursor: pointer;
}
.portfolio .portfolio__grid .portfolio__item .plus span{
    color: #ffffff;
    font-family: "Roboto - Thin";
    font-size: 56px;
    font-weight: 400;
    position: relative;
    top: 50%; 
    transform: translate(-50%,-50%);
}
.portfolio .portfolio__grid .portfolio__item:hover .shadow{
    display: block;
}
.portfolio .portfolio__grid .portfolio__item:hover .plus{
    display: block;
}

/* testimonials */

.testimonials{
    width: 100%;
    max-width: 1925px;
    margin: 0 auto;
}
.testimonials .testimonials__slider {
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.testimonials .testimonials__slider input[name="switch"] {
    display: none; 
}
.testimonials .testimonials__slider .switch {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%; 
}
.testimonials .testimonials__slider .switch label {
    display: inline-block;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 50%;
    background-color: #959595; 
}
#btn1:checked ~ .switch label[for="btn1"], 
#btn2:checked ~ .switch label[for="btn2"], 
#btn3:checked ~ .switch label[for="btn3"] {
    background-color: #2b2b2b;
}
.testimonials .testimonials__inner{
    width: 1170px;
    overflow: hidden;
    margin: 0 auto;
}
.testimonials .testimonials__inner .testimonials__slides{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 97px  0 60px;
}
.testimonials .testimonials__inner .testimonials__slides .testimonials__item{
    width: 100%;
    max-width: 368px;
    display: flex;
    align-items: start;
}
.testimonials .testimonials__inner .testimonials__slides .testimonials__item img{
    border: 5px solid #b9b9b9;
    border-radius: 50%;
    margin-right: 20px;
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 20px;
}
.testimonials .testimonials__inner .testimonials__slides .testimonials__item h4{
    color: #0075d0;
    font-weight: 700;
    padding-bottom: 8px;
}
.testimonials .testimonials__inner .testimonials__slides .testimonials__item span{
    color: #141414;
    font-weight: 400;
    padding-bottom: 8px;
}
.testimonials .testimonials__inner .testimonials__slides .testimonials__item p{
    color: #ffff;
    background-color: #0075d0;
    font-weight: 400;
    padding: 15px 27px 11px 14px;
}

#btn1:checked ~ .testimonials__inner .testimonials__slides {
    transform: translate(0); 
}
  
#btn2:checked ~ .testimonials__inner .testimonials__slides {
    transform: translate(-66%); 
}
  
#btn3:checked ~ .testimonials__inner .testimonials__slides {
    transform: translate(66%); 
}

/* about */

.about{
    width: 100%;
    max-width: 1925px;
    margin: 0 auto;
}
.about .about__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 103px 0 147px;
}
.about .about__inner .about__item{
    display: block;
    margin-right: 30px;
}
.about .about__inner .about__item:last-child{
    margin-right: 0px;
}
.about .about__inner .about__item h4{
    color: #000000;
    font-family: 'Roboto';
    font-size: 19px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 11px;
}
.about .about__inner .about__item .blue-line{
    width: 50px;
    height: 4px;
    background-color: #0075d0;
    margin-bottom: 24px;
}
.about .about__inner .about__item p{
    color: #696969;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
}
.about .virtues{
    width: 100%;
    max-width: 1925px;
    min-height: 260px;
    background: url(../img/features-bg.png) no-repeat center;
    background-size: cover;
}
.about .virtues .virtues__inner{
    width: 55%;
    max-width: 1048px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    text-align: center;
} 
.about .virtues .virtues__inner .virtues__item{
    display: block;
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 20px;
}  

.about .virtues .virtues__inner .virtues__item p{
    font-size: 50px;
    padding: 32px 0 26px;
}
.about .virtues .virtues__inner .virtues__item span{
    font-size: 19px;
}

/* team */

.team{
    width: 100%;
    max-width: 1925px;
    margin: 0 auto;
}
.team .team__gallery{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 97px auto 151px;
}
.team .team__gallery .team__item{
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}
.team .team__gallery .team__item .team__image{
    position: relative;
    width: 100%;
    max-width: 270px;
    min-height: 321px;
}
.team .team__gallery .team__item .team__image .team__social{
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}
.team .team__gallery .team__item:hover .team__social{
    opacity: 1;
    transition: ease-in 0.5s;
}
.team .team__gallery .team__item p{
    color: #000000;
    text-transform: uppercase;
    padding: 29px 0 18px;
}
.team .team__gallery .team__item span{
    color: #0075d0;
}
.team .team__gallery .team__item .team-circle{
    width: 9px;
    height: 9px;
    background-color: #959595;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 17px;
}
.team .join{
    width: 100%;
    max-width: 1925px;
    background-color: #0075d0;
    display: block;
    text-align: center;
}
.team .join button{
    margin: 57px auto 50px;
    width: 100%;
    max-width: 244px;
    min-height: 60px;
    border-radius: 27px;
    border: 2px solid #ffffff;
    box-sizing: content-box;
    background: transparent;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
}

/* feature */

.feature{
    width: 100%;
    max-width: 1925px;
    margin: 0 auto;  
}
.feature .feature__slider {
    position: relative;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}
.feature .feature__slider input[name="switch"] {
    display: none; 
}
.feature .feature__slider .switch {
    width: 100%; 
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
}
.feature .feature__slider .switch label {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 50%;
    border: 1px solid #c2c2c2;
    background-color: #fff; 
}
#btn4:checked ~ .switch label[for="btn4"], 
#btn5:checked ~ .switch label[for="btn5"], 
#btn6:checked ~ .switch label[for="btn6"] {
    background-color: #000;
}
.feature .feature__inner{
    width: 1170px;
    overflow: hidden;
    margin: 0 auto;
}
.feature .feature__inner .feature__slides{
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 128px 0 60px;
}
.feature .feature__inner .feature__slides .feature__item{
    width: 100%;
    max-width: 202px;
    display: flex;
    align-items: start;
    color: #000000;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
    text-transform: uppercase;
}
.feature .feature__inner .feature__slides .feature__item span{
    font-weight: 300;
}

#btn4:checked ~ .feature__inner .feature__slides {
    transform: translate(0); 
}
  
#btn5:checked ~ .feature__inner .feature__slides {
    transform: translate(-50%); 
}
  
#btn6:checked ~ .feature__inner .feature__slides {
    transform: translate(50%); 
}

.feature .feature__second{
    background-color: #f8f8f8;
}
.feature .feature__second .feature__grid{
    padding: 97px 0 150px;
    width: 61%;
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.feature .feature__second .feature__grid .features__img{
    width: 100%;
    max-width: 292px;
    height: 201px;
}
.feature .feature__second .feature__grid .feature__descr{
    background-color: #ffff;
    padding: 19px 25px 0px 20px;
    font-family: 'Roboto';
    font-weight: 400;
    text-align: justify;
    word-wrap: break-word;
}
.feature .feature__second .feature__grid .feature__descr h4{
    color: #000000;
    font-size: 19px;
    padding-bottom: 17px;
}
.feature .feature__second .feature__grid .feature__descr p{
    color: #6e6e6e;
    font-size: 15px;
    padding-bottom: 30px;
}
.feature .feature__second .feature__grid .feature__descr button{
    display: block;
    cursor: pointer;
    border: none;
    background: transparent;
}

/* feedback */

.feedback{
    width: 100%;
    max-width: 1925px;
    margin: 0 auto;
}
.feedback .feedback__form{
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 97px 0 150px;
} 
.feedback .feedback__form .feedback__input{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
.feedback .feedback__form .feedback__input input{
    width: 100%;
    display: block;
    margin-right: 30px;
    padding: 30px 0 20px 12px;
    outline: none;
}
.feedback .feedback__form .feedback__input input:last-child{
    margin-right: 0px;
}
.feedback .feedback__form textarea{
    width: 100%;
    max-width: 1170px;
    display: block;
    color: #5a5a5a;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    padding: 17px 0 99px 12px;
    resize: none;
    margin-bottom: 20px;
    outline: none;
}
.feedback .feedback__form .feedback__button{
    text-align: center;
}
.feedback .feedback__form .feedback__button button{
    padding: 20px 34px;
    background: transparent; 
    color: #000000;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    border: 1px solid #c1c1c1;  
    cursor: pointer; 
}
.feedback .feedback__social{
    width: 100%;
    max-width: 1925px;
    min-height: 200px;
    margin: 0 auto;
    background: url(../img/feedback__bg.png) no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback .feedback__social .feedback__img{
    width: 81px;
    height: 80px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    margin-right: 50px;
    position: relative;
}
.feedback .feedback__social .feedback__img:hover{
    background-color: #0075d0;
}
.feedback .feedback__social .feedback__img a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* footer */

.footer{
    width: 100%;
    max-width: 1925px;
    margin: 0 auto;
    font-family: 'Roboto';
    color: #6e6e6e;
    font-size: 15px;
    font-weight: 400;
}
.footer .footer__inner{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 146px 0 149px;
}
.footer .footer__inner h4{
    color: #6e6e6e;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.footer .footer__inner .footer__line{
    width: 40px;
    height: 5px;
    background-color: #0075d0;
    margin-bottom: 33px;
}
.footer .footer__inner .footer__item{
    margin-right: 47px; 
    width: 100%;
    max-width: 254px;
    display: block;
    text-align: left;
}
.footer .footer__inner .footer__item:first-child{
    margin-right: 122px;
    width: 100%;
    max-width: 179px;
    display: block;
}
.footer .footer__inner .footer__item:last-child{
    margin-right: 0px;
    width: 100%;
    max-width: 269px;
    display: block;
}
.footer .footer__inner .footer__item h5{
    font-size: 15px;
    font-weight: 700;
}
.footer .footer__inner .footer__item .contact-item{
    padding-top: 15px;  
}
.footer .footer__inner .footer__item .contact-item img{
    vertical-align: middle;
    padding-right: 17px;
}
.footer .footer__inner .footer__item input{
    width: 100%;
    max-width: 268px;
    height: 40px;
    border: 1px solid #d3d3d3;
    background-color: #ebebeb;
    margin-bottom: 10px;
    outline: none;
}
.footer .footer__inner .footer__button button{
    color: #ffff;
    text-transform: uppercase;
    background-color: #3d3d3d;
    border: none;
    padding: 16px 29px 13px;
    cursor: pointer;
    outline: none;
}
.footer .footer__end{
    font-size: 14px;
    padding-bottom: 27px;
    text-align: center;
}